<h2>Name: <%= @task.name %></h2>

<h3>Start date: <%= @task.deadline.strftime('%m/%d/%Y') %></h3>

<h3>Done: <%= @task.done %></h3>

<h3>Users assigned:</h3>
<div>
  <% @task.users.each do |user| %>
    <%= user.email %>
  <% end %>
</div>

<h3>Attachments</h3>
<div>
  <% @task.attachments.each do |att| %>
    <%= image_tag att.file.url(:thumb) %>
  <% end %>
</div>

<%= link_to 'Back', project_path(@task.project) %>